<a href="https://colab.research.google.com/github/cpolzin21/CSC302/blob/main/CSC302HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use pandas to read the olympic_medals.csv from the DATA folder on Google Drive. Then perform the followings by
using pandas and/or Python built-in functions.

(a) Find the size of the data frame. How many rows, how many columns?

(b) Use the appropriate function to report the data types for all columns.

(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())

(d) Find how many medals the USA team won in total.

(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
For instance, the following example counts at how many locations each event was held. )
medals.groupby(by='Event')['Location'].count()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#(a)
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
df.shape

(2394, 8)

In [ ]:
#(b)
df.columns
df.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [ ]:
#(c)
df['Location'].nunique()

23

In [ ]:
#(d)
(df['Nationality'].values == 'USA').sum()

638

In [ ]:
#(e)
df.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64